.banner {
  padding: 60px 24px;
  word-break: keep-all;
  overflow-wrap: break-word;
  background: rgba(2, 9, 19, 0.91);
}

.banner__container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-column-gap: 20px;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  content-visibility: auto;
}

.banner__container_img {
  width: 186px;
}

.banner__context {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.banner__title {
  margin: 0;
  font-size: 26px;
  line-height: 1.4;
  color: var(--white);
}

.banner__text {
  margin-top: 8px;
  font-size: 17px;
  color: #e5e8eb;
  line-height: 1.5;
}

.banner__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border-radius: 6px;
  color: var(--grey50);
  background-color: var(--blue500);
  font-weight: 600;
  font-size: 14px;
  padding: 7px 12px;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0 solid transparent;
  transition:
    background 0.2s ease,
    color 0.1s ease;
}

.banner__button:hover {
  color: var(--white);
  background-color: var(--blue700);
}
